[submodule "ESP32IRBlaster/include/nanopb"]
	path = ESP32IRBlaster/include/nanopb
	url = git@github.com:nanopb/nanopb.git
[submodule "ESP32IRBlaster/lib/nanopb"]
	path = ESP32IRBlaster/lib/nanopb
	url = git@github.com:nanopb/nanopb.git
[submodule "ESP32FrameworkExample/lib/nanopb"]
	path = ESP32FrameworkExample/lib/nanopb
	url = git@github.com:nanopb/nanopb.git
[submodule "ESP32FrameworkExample/lib/chibi-lpwork"]
	path = ESP32FrameworkExample/lib/chibi-lpwork
	url = git@github.com:william-redenbaugh/chibi-lpwork.git
[submodule "ESP32Clock/lib/Arduino-LiquidCrystal-I2C-library"]
	path = ESP32Clock/lib/Arduino-LiquidCrystal-I2C-library
	url = https://github.com/fdebrabander/Arduino-LiquidCrystal-I2C-library.git
